<h1>New User</h1>

Please enter user: <br><br>

<form action="/users" method="POST">

  First Name: <input type='text' name="user[first_name]"><br>
  Last Name: <input type='text' name="user[last_name]"><br>
  email: <input type='text' name="user[email]"><br>
  Age: <input type='text' name="user[age]"><br>

  <br>
  <input type="submit" value="Submit">
</form>

<%= link_to 'Back', users_path %>
