Edit

<%=params["format"] %>
<br>
<br>
<%= user = Sandbox.find_by("id = #{params[:format]}")%>
<br>
<br>
<%= render "form", user:user %>

<br>
  <input type="hidden" name="_method" value="patch" >
  <input type="submit" value="Submit" >
</form>
<br>
