New Records View

<br>
<br>

Please enter user: <br><br>

<form action="/sandbox" method="POST">

  User:   <input type='text' name="sandbox[user]"><br>
  First:  <input type='text' name="sandbox[fname]"><br>
  Last:   <input type='text' name="sandbox[lname]"><br>
  email:  <input type='text' name="sandbox[email]"><br>
  password:<input type='text' name="sandbox[password]"><br>

  <br>
  <input type="submit" value="Submit">
</form>
<br>
